/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
  background-color: black;
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: center;
}
a {
  color: #f90;
  font-weight: bold;
  text-decoration: none;
}
.menuzeile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  padding: 0.5em 0.5em 0.5em;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.menuzeile .titel {
  display: inline-block;
  margin-top: 0.1em;
}
.menuzeile a#about {
  float: left;
  width: auto;
}
.menuzeile a#info {
  float: right;
  width: auto;
  visibility: hidden;
}
.menuzeile a img {
  width: 1.5em;
  vertical-align: center;
}

.scroller {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.content {
}

.appliste {
  margin: 0 0;
  padding: 1.5%;
  background-color: black;
}
.appliste li {
  display: block;
  float: left;
  width: 25%;
  list-style: outside none;
}
.appliste .zeile {
  display: block;
  margin-bottom: 1em;
  color: white;
  text-decoration: none;  
}
.appliste .zeile img {
  margin-bottom: 0.5em;
  width: 85%;
}
.appliste .zeile img.rund {
  border-radius: 1.2em;
}
.appliste .zeile .titel {
  padding: 0.1em 0.5em;
  overflow: hidden;
  font-size: 0.45em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  display: block;
  margin: 0;
  padding: 0 1em 1em;
  color: white;
  background-color: black;
  text-align: left;
}
.text h1 {
  margin: 0;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

