{{#if this.collection.length}}
    {{#each this}}
        <div class="stream-element">
           {{entryRefId}}: {{textTeaser}}
        </div>
    {{/each}}
{{else}}
    <div class="row content">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <p class="large">Der Raum <span class="black uppercase">{{this.parentAttributes.roomNrHumanShort}}</span> hat
            <br>noch keine Einträge</p>
            <a href="#" class="button js-addEntry">Eintrag hinzufügen</a>
        </div>
    </div>
{{/if}}
