body {
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.menuzeile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  
  padding: 1em 0.5em;
  background-color: #996;
  font-size: 2em;
  font-face: bold;
  text-align: center;
  overflow: hidden;
}

.scroller {
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.content {
  padding: 1em;
  background-color: #ddc;
}