<div class="content">
    <div class="col-xs-8 col-xs-offset-2 text-center">
        <p class="black">Diese Funktion ist bald verfügbar!</p>
    </div>
</div>

<!--<input type="file" name="file" />-->
