<input type="hidden" name="contentType" value="picture">

<div class="col-xs-10 col-xs-offset-1 room-bottom room-top">
    <span class="button button-file"><span class="fileinput-new">Bild auswählen</span><input type="file" name="file" /></span>
</div>
