<input type="hidden" name="contentType" value="text" />
<input type="hidden" name="textBackground" class="js-colorBackgroundVal" value="#ffffff">
<input type="hidden" name="textColor" class="js-colorTextVal" value="#000000">

<input type="text" name="textTeaser" class="input-text-teaser js-colorInput col-xs-12" placeholder="Titel">
<textarea name="textContent" class="input-text-content js-colorInput col-xs-12" rows="6" placeholder="Und hier deine Schreibergüsse&hellip;"></textarea>

<div class="slider-container col-xs-10 col-xs-offset-1">
    <label>Hintergrundfarbe</label>
    <div class="js-noUiBackground slider-color"></div>
</div>

<div class="slider-container col-xs-10 col-xs-offset-1">
    <label>Textfarbe</label>
    <div class="js-noUiText slider-color"></div>
</div>
