<form action="./api/file/post" enctype="multipart/form-data" method="post" class="js-postForm" id="upload">
    <input type="hidden" name="roomId" value="{{selectedRoomId}}">
    <div class="vFormContent"></div>
    <div class="col-xs-10 col-xs-offset-1">
        <input type="submit" class="button" value="{{buttonText}}" />
    </div>
</form>
