/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ---- Colors ---- */

#color1{
      background-color:#437066;
}
#color2{
      background-color:#FDD896;
}
#color3{
      background-color:#684D27;
}
#color4{
      background-color:#1E5BA5;
}
#color5{
      background-color:#9CBB9D;
}
#color6{
      background-color:#C68A69;
}
#color7{
      background-color:#8C1FA3;
}
#color8{
      background-color:#A82A2E;
}
#color9{
      background-color:#D8B042;
}
#color10{
      background-color:#384756;
}
#color11{
      background-color:#D6589C;
}
#color12{
      background-color:#1CA660;
}







/* ---- First Page ---- */
.firstHeader{    
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  padding: 0.75em;
  background-color: #3C3C3B;
}
.introText{
    color: #36A9E0; 
    text-align: center;
    padding: 20px 30px 10px 30px;
    font-size: 20px;
    display:block;
    font-size: 1.4em;
    background: #3C3C3B;
  
}
.saveUserName input{
  display: block;
  padding: 0.75em;
  background-color: #C6C6C5;
  overflow: hidden;
  border: 0;
  margin: auto;
}
.saveUserName{
  display: block;
  padding: 0.75em;
  background-color: #3C3C3B;
  overflow: hidden;
  border: 0;
  margin: auto;
}
.circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    float:left;
    margin: 20px;
    cursor: pointer;
}
#hand{
  z-index: 100;
  position: absolute;
  display: none;
  top: 100px;
  left:100px;
}
.pulse{
  -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}

.selected {
  border: 2px solid white;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; 
  float:left;
  margin: 20px;
  cursor: pointer;
}

.colorPickerSet{
  width: 100%;
  height: 200px;
  padding-left: 20px;
}

.colorPickerSet ul.colorList {
  margin: 0;
  padding: 0;
  list-style: none outside;
}

.sendButton {
  cursor: pointer;
  display: block;
  padding: 0.75em;
  background-color: #252525;
  text-align: center;
  overflow: hidden;
  border: 0;
  margin: 40px 30px 40px 30px;
  color:#E5007D;
  text-decoration: none;
}

body{background: #3C3C3B;}


* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}


.footerLogo {

  height: 70%;
  display: block;
  margin:   0 auto;
  margin-top: 0.6em;
  overflow:hidden;

}

/* --- Titlebar --- */

.titlebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  padding: 0.75em;
  background-color: #3C3C3B;
  overflow: hidden;
  }

  input {
    -webkit-appearance: none;
    border-radius: 0;
}

#status {
  display: block;
  float:left;
  color: white;
  background: #5C5C5B;
  border: 0;
  height:40px;
  width:70%;
}
svg { cursor: pointer; }

#send-status-button {
  display: block;
  width: 80px;
  cursor: pointer;
  display: block;
  padding: 0.75em;
  background-color: #252525;
  text-align: center;
  overflow: hidden;
  float:left;
  border: 0;
  color:#E5007D;
  text-decoration: none;
}

.titlebar .menubutton {
  float: left;
  width: 4em;
  margin-top: -0.25em;
  margin-right: 1em;
  padding: 0.25em;
  color: white;
  background-color: rgba( 0,0,0,0.2 );
  border: 1px solid rgba( 0,0,0,0.5 );
  text-align: center;
}
.titleStatus {
    color: #36A9E0;
    padding: 0px;
    margin: 0px;
    display: block;
}

.menubutton.back {
  width: 4em;
}
.menubutton.back a {
  color: white;
  text-decoration: none;
}

/* --- Formular --- */


.formular #senden {
  float: left;
  width: auto;
}

.formular #laden {
  float: right;
  width: auto;
}

/* --- Seiten --- */

.page {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  bottom: 4em;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: left 1s;
  transition: left 1s;
}
.out_right {
  left: 100%;
  -webkit-transition: left 1s;
  transition: left 1s;
}
.out_left {
  left: -100%;
  -webkit-transition: left 1s;
  transition: left 1s;
}
.footer{
    position: fixed;
    z-index:10;
    bottom: 0;
    left: 0;
    width:100%;
    height: 4em;
    background: #3C3C3B;
    overflow: hidden;
}
#openMapIcon1{
  float:right;
  height:40px;
  width:48px;
  margin-right: 5px;
  margin-top: 9px;
}
#openMapIcon2{
  float:right;
  height:40px;
  width:48px;
  margin-right: 5px;
  margin-top: 9px;
}

#homeButtonIcon{
  float:left;
  height:40px;
  width:48px;
  margin-right: 15px;
  margin-top: 9px;

}
#chatIcon1{
  float:left;
  height:40px;
  width:48px;
  margin-left: 5px;
  margin-top: 9px;
}
#chatIcon2{
  float:left;
  height:40px;
  width:48px;
  margin-left: 5px;
  margin-top: 9px;

}

#openMapButton{
 
  display:block;
  width: 40%;
  float: left;

}

#closeMapButton{
  
  display:block;
  float:left;
  width: 40%;
}

/*-----Tabelle--------*/
.chattabelle{
width: 100%;

margin: 0;
padding: 0;
border-bottom: 4px solid white;
border-collapse: collapse;
}

.chatname{
border-right: 4px solid white;
padding: 30px 7px;
text-transform: uppercase;
color:white;
}

.chatmessage{
padding: 3px 10px 3px 30px;
color: white;
font-size: 1.3em;
}
.chattime{
width: 100px;
text-align: right;
padding: 10px;
color: white;
}


/* ---- LIST VIEW ---- */

.scrollbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbox .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.scrollbox .list li {
  display: block;
  margin: 50px 0px;
  
}

.list-element-username{
  color: rgb(255,255,255);
  text-transform: uppercase;
  float:left;
  padding: 30px 5px;
  border-right: 5px solid white;
  padding-left: 5px;
  margin-right: 8px;
}

.list-element-time{

  color: #E8E8E8;
  float:right;
  padding: 25px 5px;
}

.list-element-container{

  height:80px;
}

.list-element-status{

  color: white;
  float: left;

  width: 60%;
  padding: 25px 20px;
  margin:0;
  

}
.screen{
  background: #3C3C3B;
  height:100%;
  width:100%;
  bottom:0;
}
#plus{
    color: #36A9E0; 
    text-align: center;
    
    font-size: 20px;
    display:block;
    font-size: 1.4em;
    background: #3C3C3B;

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
