<div class="row">
    {{#if this.length}}
        <ul class="list list-room">
            {{#each this}}
                <li class="list-element">
                    <a href="/#room/{{id}}" class="js-selectRoom" data-id="{{id}}">{{roomNrHumanShort}}</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Keine Räume gefunden...</p>
    {{/if}}
</div>
