<div class="row">
    <div class="input-box col-xs-3">
        <input type="number" class="input-letter js-searchRoom js-searchEbene" autofocus />
        <span class="input-label">Ebene</span>
    </div>
    <div class="input-dot col-xs-1">.</div>
    <div class="input-box col-xs-3">
        <input type="text" class="input-letter js-searchRoom js-searchGang" />
        <span class="input-label">Gang</span>
    </div>
    <div class="input-box col-xs-5">
        <input type="number" class="input-letter input-letter-double js-searchRoom js-searchRaum" />
        <span class="input-label">Raumnummer</span>
    </div>
</div>

