<div class="content">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <p class="text-center">Wähle einen Raum aus, in den du hineinschauen willst.</p>
        </div>
        <div id="vRoomSearch" class="room-search col-xs-8 col-xs-offset-2"></div>
    </div>
</div>
