<div class="row js-scrollTo">
    <form id="js-roomSelect" action="#" method="post">
        <div class="input-box col-xs-3">
            <input type="text" pattern="\d*" class="input-letter js-searchRoom js-searchEbene" value="{{searchValEbene}}" />
            <span class="input-label">Ebene</span>
        </div>
        <div class="input-dot col-xs-1">.</div>
        <div class="input-box col-xs-3">
            <input type="text" autocapitalize="on" class="input-letter js-searchRoom js-searchGang" value="{{searchValGang}}" />
            <span class="input-label">Gang</span>
        </div>
        <div class="input-box col-xs-5">
            <input type="text" pattern="\d*" class="input-letter input-letter-double js-searchRoom js-searchRaum" value="{{searchValRaum}}" />
            <span class="input-label">Raumnummer</span>
        </div>
    </form>
</div>

