body {
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.clear {
  clear: both;
}

.menuzeile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  padding: 1em 0.5em 0.5em;
  background-color: #ddd;
  font-size: 1.5em;
  font-face: bold;
  text-align: center;
  overflow: hidden;
}

.scroller {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.content {
  background-color: white;
}

.beaconliste {
  margin: 0;
  padding: 0;
}
.beaconliste .beacon {
  margin: 0;
  padding: 0.75em 1em;
  list-style: outside none;
  border-top: 1px solid #ddd;
  color: black;
  
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}
.beaconliste .beacon:last-child {
  border-bottom: 1px solid #ddd;
}
.beaconliste .beacon .ident {
  float: left;
  width: auto;
}
.beaconliste .beacon .signalstaerke {
  float: right;
  width: auto;
  color: blue;
}

.text {
  padding: 1.25em;
  color: #999;
}
.text h1 {
  margin: 1em 0 0;
  color: #999;
  font-size: 1em;
  font-weight: bold;
}
