body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0;
  font-weight: 300;
  overflow: hidden;
  background-color: #535559;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#pagesWrapper {
  position: absolute;
  overflow: hidden;
  top: 4em;
  left: 0;
  width: 100%;
  height: calc(100% - 4em);
  z-index: 0;
}

#pages {
  display: block;
  overflow: hidden;
  position: relative;
  width: 300%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
#pages li {
  display: block;
  overflow: hidden;
  width: calc(100% / 3);
  height: 100%;
  float: left;
  z-index: 2;
}
#pages .page {
  display: block;
  width: 99.75%;
  height: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
}
#pages #mensa {
  background-color: #535559;
}
#pages #mensa #mensaLoading {
  margin: 3em 1em 1em 1em;
}
#pages #mensa #mensaLoading #mensaLoadingImg {
  display: block;
  width: 2.6em;
  height: 2.6em;
  margin-left: auto;
  margin-right: auto;
}
#pages #mensa .mensaTile {
  background-color: #F0F4F7;
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  margin: 1px 0;
  overflow: hidden;
  display: none;
}
#pages #mensa .mensaTile span {
  display: inline-block;
  width: 100%;
  line-height: 1.5em;
  height: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
#pages #mensa .mensaTile p {
  margin: 0;
  font-weight: 300;
}
#pages #mensa .mensaTileDate {
  width: calc(100% - 2em);
  padding: 0.5em;
  margin: 0.5em;
  color: #F0F4F7;
  font-weight: 300;
  font-size: 0.75em;
  text-align: left;
  height: 1.5em;
}
#pages #mensa .mensaTile.next {
  background-color: #535559;
  margin: 0.5em 0;
  height: 3em;
  width: calc(100% - 2em);
}
#pages #mensa .mensaTile.next .mensaNextIcon {
  float: none;
  margin: 0 auto;
  display: block;
  width: 3em;
  height: 3em;
}
#pages #agenda {
  background-color: #535559;
}
#pages #agenda #agendaLoading {
  margin: 3em 1em 1em 1em;
}
#pages #agenda #agendaLoading #agendaLoadingImg {
  width: 2.6em;
  height: 2.6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pages #agenda .agendaTile {
  background-color: #F0F4F7;
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  margin: 1px 0;
  display: none;
}
#pages #agenda .agendaTile span {
  display: inline-block;
  width: 100%;
  line-height: 1.5em;
  height: 1.5em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#pages #agenda .agendaTile p {
  margin: 0.5em 0;
  font-weight: 300;
  max-height: 6.5em;
  width: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#pages #agenda .agendaTile a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}
#pages #agenda .agendaTile b {
  font-weight: 300;
}
#pages #agenda .agendaTile .eventTimeIcon {
  float: left;
  display: block;
  width: 1em;
  height: 1em;
  margin: 0.25em 0.5em 0.25em 0;
}
#pages #agenda .agendaTile .eventDateAndTime {
  float: left;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  width: auto;
}
#pages #agenda .agendaTile .eventLocationIcon {
  float: left;
  display: block;
  width: 0.8em;
  height: 1.15em;
  margin: 0.15em 0.5em 0.2em 0.5em;
}
#pages #agenda .agendaTile .eventLocation {
  display: flex;
  width: auto;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  text-overflow: ellipsis;
}
#pages #agenda .agendaTileDate {
  background: none;
  color: #F0F4F7;
  width: calc(100% - 2em);
  padding: 0.5em;
  margin: 0.5em;
  font-weight: 300;
  font-size: 0.75em;
  text-align: left;
  height: 1.5em;
}
#pages #agenda .agendaTileLoadMore {
  background-color: #535559;
  margin: 0.5em 0;
  height: 3em;
  width: calc(100% - 2em);
}
#pages #agenda .agendaTileLoadMore .agendaNextIcon {
  float: none;
  margin: 0 auto;
  display: block;
  width: 3em;
  height: 3em;
}
#pages #tram {
  background-color: #535559;
}
#pages #tram .tramInfo {
  background: none;
  width: calc(100% - 2em);
  padding: 0.5em;
  margin: 0.5em;
  color: #F0F4F7;
  font-weight: 300;
  font-size: 0.75em;
  text-align: left;
  height: 1.5em;
}
#pages #tram .tramLoadingImg {
  width: 2.6em;
  height: 2.6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pages #tram .tramTile {
  background-color: #F0F4F7;
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  margin: 1px 0;
}
#pages #tram .tramTile span {
  display: inline-block;
  width: 100%;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  height: 1.5em;
  font-weight: 700;
}
#pages #tram .tramTile table {
  width: 100%;
  border-collapse: collapse;
}
#pages #tram .tramTile td {
  margin: 0.5em 0;
  line-height: 1.5em;
  height: 1.5em;
  padding: 0;
  font-weight: 300;
}
#pages #tram .tramTile td .NFT {
  display: block;
  width: 1.15em;
  height: 1.15em;
  margin: 0.25em 0 0.1em 0;
}
#pages #tram .tramTile tr {
  width: 100%;
}
#pages #tram .tramTile .tramType {
  text-align: right;
  width: 1em;
}
#pages #tram .tramTile .tramNr {
  text-align: right;
  width: 2em;
}
#pages #tram .tramTile p {
  margin: 0;
}

#header {
  font-family: 'Roboto', sans-serif;
  background-color: #81A65F;
  height: 4em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 900;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(83, 85, 89, 0.08);
  -moz-box-shadow: 0px 0px 5px 5px rgba(83, 85, 89, 0.08);
  box-shadow: 0px 0px 5px 5px rgba(83, 85, 89, 0.08);
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  transition: background-color 0.15s;
}
#header span {
  color: #F0F4F7;
  display: inline-block;
  text-align: center;
  line-height: 2;
  height: 2em;
  font-weight: 100;
  font-size: 2em;
  width: 100%;
}
#header #info {
  position: absolute;
  color: #F0F4F7;
  margin: 0.7em;
  width: 2.6em;
  height: 2.6em;
  left: 0;
  top: 0;
}
#header #refresh {
  position: absolute;
  color: #F0F4F7;
  margin: 0.7em 0.7em 0.7em 3.7em;
  width: 2.6em;
  height: 2.6em;
  left: 0;
  top: 0;
}
#header #toToniApps {
  display: none;
  position: absolute;
  color: #F0F4F7;
  margin: 0.7em;
  width: 2.6em;
  height: 2.6em;
  left: 0;
  top: 0;
}
#header #menu {
  position: absolute;
  text-align: right;
  padding-right: 2em;
  line-height: 1.8;
  right: 0;
  top: 0;
  width: auto;
  font-weight: 100;
}
#header #hamburger {
  position: absolute;
  color: #F0F4F7;
  margin: 1.2em 1em;
  width: 1.8em;
  height: 1.8em;
  right: 0;
  top: 0;
}
#header .menu {
  font-size: 2em;
  width: calc(100% - 0.5em);
  text-align: right;
  color: #F0F4F7;
  line-height: 1.5em;
  font-weight: 100;
  margin-right: 0.5em;
}

#header.mensa {
  background-color: #81A65F;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

#header.agenda {
  background-color: #D15357;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

#header.tram {
  background-color: #588BB3;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

#popupBg {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#headerBg {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 899;
}

#popupInfo {
  position: fixed;
  background-color: #F0F4F7;
  overflow: hidden;
  margin: 0 0.5em;
  height: 0;
  width: calc(100% - 1em);
  top: 0;
  z-index: 1000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#popupInfo #closeInfo {
  width: 2em;
  height: 2em;
  margin: 1em 1em;
}
#popupInfo p {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: block;
  margin: 0.5em 0 1em 0;
  padding: 0 1em 0 1em;
  font-weight: 300;
  height: calc(100% - 5.5em);
}
#popupInfo a {
  color: #000;
  font-weight: 300;
}

#popupInfo.popup {
  height: calc(100% - 1em);
  margin: 0.5em;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#popupEvent {
  position: fixed;
  background-color: #F0F4F7;
  overflow: hidden;
  margin: 0 0.5em;
  height: 0;
  width: calc(100% - 1em);
  bottom: 0;
  z-index: 1001;
  background-color: #F0F4F7;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#popupEvent #eventImgLoader {
  display: none;
}
#popupEvent #closeEvent {
  width: 2em;
  height: 2em;
  margin: 1em;
}
#popupEvent #eventContainer {
  margin: 0 0 1em 0;
  padding: 0 1em 0 1em;
  width: calc(100% - 2em);
  height: calc(100% - 5em);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1003;
}
#popupEvent .eventLocationIconDetail {
  float: left;
  display: block;
  width: 0.8em;
  height: 1.15em;
  margin: 0.15em 0.5em 0.2em 0;
}
#popupEvent .eventDateIconDetail {
  float: left;
  display: block;
  width: 1em;
  height: 1em;
  margin: 0.25em 0.5em 0.25em 0;
}
#popupEvent .eventLocationDetail {
  margin-top: 0;
  padding-left: 1.3em;
  display: block;
  font-weight: 300;
  width: calc(100% - 1.3em);
}
#popupEvent .eventDateDetail {
  font-weight: 300;
}
#popupEvent span {
  display: block;
  margin: 0.5em 0;
  width: 100%;
  line-height: 1.5em;
  font-weight: 400;
  border-bottom: 1px solid #b4b4af;
}
#popupEvent p {
  display: inline-block;
  margin: 0.5em 0;
  overflow: auto;
  font-weight: 300;
}
#popupEvent a {
  color: #000;
  font-weight: 300;
}
#popupEvent b {
  font-weight: 400;
}
#popupEvent iframe {
  display: block;
  width: 100%;
  height: auto;
}
#popupEvent img {
  display: block;
  width: 100%;
  height: auto;
}

#popupEvent.popup {
  height: calc(100% - 1em);
  margin: 0.5em;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
