.backbutton#back {
  display: none;
  padding: 1em;
  width: 50%;
  border-color: #EEE8CC;
  font-size: 1.1em;
  font-family: "Arial", Arial, sans-serif;
  background: #FF9933;
  color: #EEE8CC;
}

.backbutton#back a {
  color: white;
  text-decoration: none;
}

.donebutton#done {
  display: none;
  padding: 1em;
  width: 50%;
  border-color: #EEE8CC;
  font-size: 1.1em;
  font-family: "Arial", Arial, sans-serif;
  background: #FF9933;
  color: #EEE8CC;
}

.donebutton#done a {
  color: white;
  text-decoration: none;
}

.seite {
  background-color: white;
  width: 100%;
  height: 100%;
}

.seite .picture {
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  margin: 0 5% 1em 0;
  position: absolute;
}

.arrow {
  position: absolute;
  float: right;
  width: 20%;
}

.arrow img {
  width: 100%;
}


/* --- All the Arrows --- */


#arrow1 {
  right: 40%;
  top: 60%;
}

#arrow2 {
  right: 16%;
  top: 52%;
}

#arrow3 {
  right: 70%;
  top: 60%;
}

#arrow4 {
  right: 30%;
  top: 53%;
}

#arrow5 {
  right: 5%;
  top: 65%;
}

#arrow6 {
  right: 70%;
  top: 45%;
}

#arrow7 {
  right: 40%;
  top: 50%;
}

#arrow8 {
  right: 5%;
  top: 35%;
}

#arrow9 {
  right: 15%;
  top: 53%;
}

#arrow10 {
  right: 61%;
  top: 56%;
}

#arrow11 {
  right: 73%;
  top: 56%;
}

#arrow12 {
  right: 38%;
  top: 53%;
}

#arrow13 {
  right: 5%;
  top: 56%;
}

#arrow14 {
  right: 10%;
  top: 45%;
}

#arrow15 {
  right: 67%;
  top: 45%;
}

#arrow16 {
  right: 40%;
  top: 50%;
}

#arrow17 {
  right: 73%;
  top: 50%;
}

#arrow18 {
  right: 47%;
  top: 55%;
}

#arrow19 {
  right: 73%;
  top: 51%;
}

#arrow20 {
  right: 10%;
  top: 37%;
}

#arrow21 {
  right: 12%;
  top: 55%;
}

#arrow22 {
  right: 40%;
  top: 55%;
}

#arrow23 {
  right: 33%;
  top: 42%;
}

#arrow24 {
  right: 75%;
  top: 50%;
}

#arrow25 {
  right: 30%;
  top: 45%;
}

#arrow26 {
  right: 51%;
  top: 45%;
}

#arrow27 {
  right: 78%;
  top: 53%;
}

#arrow28 {
  right: 29%;
  top: 41%;
}

#arrow29 {
  right: 10%;
  top: 35%;
}

#arrow30 {
  right: 5%;
  top: 60%;
}

#arrow31 {
  right: 30%;
  top: 47%;
}

#arrow32 {
  right: 48%;
  top: 47%;
}

#arrow33 {
  right: 4%;
  top: 48%;
}

#arrow34 {
  right: 32%;
  top: 48%;
}

#arrow35 {
  right: 70%;
  top: 48%;
}

#arrow36 {
  right: 30%;
  top: 38%;
}

#arrow37 {
  right: 40%;
  top: 55%;
}

#arrow38 {
  right: 8%;
  top: 55%;
}

#arrow39 {
  right: 48%;
  top: 49%;
}

#arrow40 {
  right: 72%;
  top: 35%;
}

#arrow41 {
  right: 75%;
  top: 65%;
}

#arrow42 {
  right: 36%;
  top: 42%;
}

#arrow43 {
  right: 68%;
  top: 35%;
}

#arrow44 {
  right: 43%;
  top: 50%;
}

#arrow45 {
  right: 5%;
  top: 40%;
}

#arrow46 {
  right: 75%;
  top: 45%;
}

#arrow47 {
  right: 65%;
  top: 35%;
}

#arrow48 {
  right: 45%;
  top: 43%;
}

#arrow49 {
  right: 40%;
  top: 55%;
}

#arrow50 {
  right: 55%;
  top: 45%;
}

#arrow51 {
  right: 5%;
  top: 50%;
}

#arrow52 {
  right: 30%;
  top: 60%;
}
