.backbutton#back {
  display: none;
  padding: 1em;
  width: 50%;
  border-color: #EEE8CC;
  font-size: 1.1em;
  font-family: "Arial", Arial, sans-serif;
  background: #FF9933;
  color: #EEE8CC;
}

.backbutton#back a {
  color: white;
  text-decoration: none;
}

.donebutton#done {
  display: none;
  padding: 1em;
  width: 50%;
  border-color: #EEE8CC;
  font-size: 1.1em;
  font-family: "Arial", Arial, sans-serif;
  background: #FF9933;
  color: #EEE8CC;
}

.donebutton#done a {
  color: white;
  text-decoration: none;
}

.seite {
  background-color: white;
  width: 100%;
  height: 100%;
}

.seite .picture {
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  margin: 0 5% 1em 0;
  position: absolute;
}

.arrow {
  position: absolute;
  float: right;
  width: 20%;
}

.arrow img {
  width: 100%;
}


/* --- All the as --- */


#a1 {
  right: 40%;
  top: 60%;
}

#a2 {
  right: 16%;
  top: 52%;
}

#a3 {
  right: 70%;
  top: 60%;
}

#a4 {
  right: 30%;
  top: 53%;
}

#a5 {
  right: 5%;
  top: 65%;
}

#a6 {
  right: 70%;
  top: 45%;
}

#a7 {
  right: 40%;
  top: 50%;
}

#a8 {
  right: 5%;
  top: 35%;
}

#a9 {
  right: 15%;
  top: 53%;
}

#a10 {
  right: 61%;
  top: 56%;
}

#a11 {
  right: 73%;
  top: 56%;
}

#a12 {
  right: 38%;
  top: 53%;
}

#a13 {
  right: 5%;
  top: 56%;
}

#a14 {
  right: 10%;
  top: 45%;
}

#a15 {
  right: 67%;
  top: 45%;
}

#a16 {
  right: 40%;
  top: 50%;
}

#a17 {
  right: 73%;
  top: 50%;
}

#a18 {
  right: 47%;
  top: 55%;
}

#a19 {
  right: 73%;
  top: 51%;
}

#a20 {
  right: 10%;
  top: 37%;
}

#a21 {
  right: 12%;
  top: 55%;
}

#a22 {
  right: 40%;
  top: 55%;
}

#a23 {
  right: 33%;
  top: 42%;
}

#a24 {
  right: 75%;
  top: 50%;
}

#a25 {
  right: 30%;
  top: 45%;
}

#a26 {
  right: 51%;
  top: 45%;
}

#a27 {
  right: 78%;
  top: 53%;
}

#a28 {
  right: 29%;
  top: 41%;
}

#a29 {
  right: 10%;
  top: 35%;
}

#a30 {
  right: 5%;
  top: 60%;
}

#a31 {
  right: 30%;
  top: 47%;
}

#a32 {
  right: 48%;
  top: 47%;
}

#a33 {
  right: 4%;
  top: 48%;
}

#a34 {
  right: 32%;
  top: 48%;
}

#a35 {
  right: 70%;
  top: 48%;
}

#a36 {
  right: 30%;
  top: 38%;
}

#a37 {
  right: 40%;
  top: 55%;
}

#a38 {
  right: 8%;
  top: 55%;
}

#a39 {
  right: 48%;
  top: 49%;
}

#a40 {
  right: 72%;
  top: 35%;
}

#a41 {
  right: 75%;
  top: 65%;
}

#a42 {
  right: 36%;
  top: 42%;
}

#a43 {
  right: 68%;
  top: 35%;
}

#a44 {
  right: 43%;
  top: 50%;
}

#a45 {
  right: 5%;
  top: 40%;
}

#a46 {
  right: 75%;
  top: 45%;
}

#a47 {
  right: 65%;
  top: 35%;
}

#a48 {
  right: 45%;
  top: 43%;
}

#a49 {
  right: 40%;
  top: 55%;
}

#a50 {
  right: 55%;
  top: 45%;
}

#a51 {
  right: 5%;
  top: 50%;
}

#a52 {
  right: 30%;
  top: 60%;
}
