* {
    box-sizing: border-box;
}

body {
    @include font-normal;
    color: $dark;
    background: $white;
}

#app-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-x: hidden;
}

.main {
    position: absolute;
    width: 100%;
    min-height: 100%;

    z-index: 0;
}

.container-content {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.content-view {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    padding-top: $header-height;
}

.content {
    padding-top: 10px;
}

#vRoomSelect .content {
    padding-top: 30%;
    position: relative;
}

#vUpload .content {
    padding-top: 30%;
}

.upload-form-container {
    @extend .clearfix;
}

.choose-upload-type {
    //background: $dark;
}

/*a*/.select-upload-type {
    display: block;
    float: left;
    height: 30vw;
    padding-top: 2em;
    margin-bottom: $grid-gutter-width;
    line-height: 2em;
    background: $dark;
    text-align: center;
    color: $nickel;

    &:hover {
        color: $white;
    }

    &.menu-current {
        color: $white;
    }
}

.menu-icon {
    display: block;
    text-align: center;
    font-size: 30px;
    &:before {
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-room {
    margin-top: 1em;
}

.list-element {

    $list-element-line-height: 3em;

    a {
        display: block;
        line-height: $list-element-line-height;
        padding: 0 1em;
        background: $dark;
        border-bottom: 2px solid $white;

        font-size: 1em;
        color: $white;
    }

    .room-number,
    .room-label,
    .room-navigate {
        display: block;
        float: left;
        line-height: $list-element-line-height;
        height: $list-element-line-height;
    }

    .room-number {
        width: 20%;
        @include font-bold;
    }

    .room-label {
        @include font-normal;
    }

    .room-navigate {
        float: right;
    }
}


h1 {
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 0.4em;
}

h2 {
    margin-top: 0;
}

a, a:hover {
    color: $dark;
    text-decoration: none;
}



.box {
    padding: $grid-gutter-width;
}

.box-failure {
    background: $carrara;
}

.stream-element {
    background: $dark;
    color: $white;
    float: left;

    .text-teaser {
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }

    .text-content {
        line-height: 1em;
    }
}

.stream-element-picture {
    width: 50%;
    height: 25vw;

    .img-container {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

.stream-element-text {
    width: 25%;
    height: 25vw;
    font-size: 30px;
    padding: 10px 10px;
    @include font-condensed;
}

.content-hidden {
    display: none;
    opacity: 0;
}

.room-bottom {
    margin-bottom: 1em;
}

.room-top {
    margin-top: 1em;
}

.large {
    font-size: 1.4em;
}

.black {
    @include font-condensed;
}

.uppercase {
    text-transform: uppercase;
}

.subtle {
    color: $friar;
}

.content-loader {
    margin-top: 60px;
}

.fixed-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.fixed-middle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.spinner {
    display: block;
    color: $dark;
    font-size: 60px;
    line-height: 60px;

    @include transition(
        color 0.3s ease-in-out,
        font-size 0.3s ease-in-out,
        height 0.3s ease-in-out,
        line-height 0.3s ease-in-out
    );
    /* @include transition();
    @include transition(); */


    &.small {
        font-size: 30px;
        line-height: 40px;
        height: 30px;
        color: $white;
    }
}

