.header {
    position: absolute;
    top: 0;
    z-index: 5000;
    width: 100%;
    line-height: $header-height;
    height: $header-height;

    overflow-x: hidden;

    font-size: 1.5em;
    background: $dark;
    color: $white;
    text-align: center;

    a {
        position: absolute;
        top: 0;
        display: block;
        height: $header-height;
        line-height: $header-height;
        width: $header-height;
        margin-top: -3px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;

        &:focus {
            background: rgba($dark, 0.66);
        }
    }

    h1 {
        line-height: $header-height;
        margin: 0;
    }

    &.inverse {
        background: none;
        color: $dark;

        a {
            color: $dark;
        }
    }
}

.header-center {
    width: 100%;
}

.header-left {
    left: 0;
}

.header-right {
    right: 0;
}
