/*
Yahoo Pipes CSS Style Sheet For RSS Badges
Author: Pipes Tutorial
Version: 1.0
Learn how to use Yahoo Pipes with the Pipes Tutorial at:
http://pipestutorial.com
*/





/* Loading screen for the Yahoo Pipe*/

/* the loading screen (what shows up before a pipe has loaded) */
div.pipesstyle div.PBajaxwait { 
    position: relative; 
    display: block;
    width: 100%;
    height: 100%; 
    margin-top: -0; 
    background: #eee url('http://l.yimg.com/us.yimg.com/i/us/pps/logo_ani_1.gif') 50% 50% no-repeat; 
    opacity: 0.75;      
    filter: alpha(opacity=75);  
}





/* Body of the Yahoo Pipe */

/* the body of your Pipe */
div.pipesstyle {      
    position: undefined;  
    width: 100%;  
    height: 300px;          /* only adjusts the height surrounding the pipe (in Firefox 3.6.10). (doesn't get rid of scrollbar). the height issue is buggy depending on the browser you use. use inline styling to override. */
    background-color: #FF0000;  
  font-family:Arial;    
    margin: 600;      
    padding: 600;   
}





/* h3 Header for the Pipe */

/* controls the title of the pipe */
div.pipesstyle h3.ybh { 
    margin: 600;    
    padding: 600;   
    font-weight: bold;    
    background-color: #FF0000;
}

/* controls the hyperlink for the pipe title (will only display if your pipe is published) */
div.pipesstyle a.ybt { 
    font-weight: bold; 
    color: #FF0000; 
}





/* Content of the Yahoo Pipe */

/* behind the scenes, placeholder for your entire pipe */
div.pipesstyle div.ybx {  
    visibility: hidden;   
    background-color: #FF0000;  
    margin: 0;  
    padding: 0; 
    position: relative;   
}

/* controls all of the pipe text */
div.pipesstyle div.pipesText { 
    zoom: 1;  
    margin-left: 55px;  
  color: inherit; 
}

/* controls all unordered lists in the pipe */
div.pipesstyle ul { 
    display: block;   
    overflow: hidden; 
    position: relative; 
    width: 300000px; 
    z-index: 2; 
    padding: 0;   
    margin: auto;
}

/* controls all links in the pipe */
div.pipesstyle a { 
    cursor: pointer; 
    text-decoration: none;  
    color: undefined; 
}





/* Results of the Yahoo Pipe */

/* controls the result's title */
div.pipesstyle div.pipesImgdescription div.pipesTitle { 
    font-size: inherit;       
    font-weight: bold;                    
    padding-bottom: 3px;    
    width: 100%;    
}

/* controls the descriptions in your pipe */
div.pipesstyle div.pipesImgdescription {
    display: block; 
    width: 100%;  
    height: 100%;   
    color: #undefined;  
}

/* font size for the description */
div.pipesstyle div.pipesImgdescription div.pipesDescription {   
  font-size: 0.92em;  
}

/* padding of results within the pipe */
div.pipesstyle div.pipesHolder { 
  padding: 5px 5px 5px 0  
}

/* controls the results of the pipe */
div.pipesstyle div.ybr { 
    position: relative; 
    display: block;   
    font-size: 1em;   
    margin: 3px 0 0 0;  
    padding: 0pt;     
    width: 100%;  
  height: 100%; 
    overflow: auto;   
    overflow-x: hidden; 
}

/* background color of odd results */
div.pipesstyle div.ybr li.ybi.odd { 
  background-color: #f6f6f6;  
}

/* controls the individual results */
div.pipesstyle div.ybr li.ybi { 
    background-color: #fff;   
    margin: 0;        
    padding: 5px 5px 5px 0;   
    list-style: none;     
    list-style-position: outside; 
    overflow: hidden;   
    text-indent: 0;   
}





/* Images in the Yahoo Pipe */

/* controls the image thumbnail placeholder */
div.pipesstyle div.pipesImgdescription div.pipesThumbnail { 
    position: relative; 
    float: left;            
    margin-bottom: 3px;   
}

/* controls the image thumbnail */
div.pipesstyle div.pipesImgdescription div.pipesThumbnail img {  
    position: static;           
    width: 50px;      
    height: 50px;                 
    border: 1px solid #eee;         
}

/* controls the placeholder surrounding all small thumnails at the bottom of a result */
div.pipesstyle ul.pipesSmallthumb { 
    margin: 10px 0 0;
    padding: 0; 
    width: auto;  
}

/* controls the placeholders for individual small thumbnails at the bottom of a result */
div.pipesstyle ul.pipesSmallthumb li {  
    border: 1px solid #eee; 
    display: block; 
    float: left;      
    height: 32px;       
    list-style-image: none;   
    list-style-position: outside;
    list-style-type: none;  
    overflow: hidden;   
    padding: 2px; 
    width: 32px;  
}

/* controls the small thumbnails at the bottom of a result */
div.pipesstyle ul.pipesSmallthumb li a img {
    height: 32px;   
    width: 32px;  
    cursor: pointer;  
    border: 0px;  
    position: static; 
    left: inherit;  
    right: inherit; 
}

/* the color of the border when you hover over a small thumbnail */
div.pipesstyle ul.pipesSmallthumb li:hover {
  border: 1px solid red; 
}





/* Footer of the Yahoo Pipe */

/* controls the footer */
div.pipesstyle div.ybf { 
    display: none;    
    width: 100%;  
    background-color: transparent;  
    height: 20px;   
    margin: 0;    
    padding: 0;   
    position: relative; 
}

/* controls the footer text in the pipe */
div.pipesstyle div.ybad { 
    display: inline; 
    height: 16px;
    font-size: 9px; 
    font-weight: bold;
    line-height: 22px;  
    color: inherit; 
}

/* controls the pipes logo in the footer */
div.pipesstyle a.yba { 
    background: transparent url('http://l.yimg.com/us.yimg.com/i/us/pps/pipes-16.png') 0 0 no-repeat; 
    _background-image: url('http://l.yimg.com/us.yimg.com/i/us/pps/pipes-16.gif');
    float: left; 
    height: 16px;   
    margin: 3px 0 0 3px; 
    width: 16px;  
}

/* "Y! Pipes" in the footer */
div.pipesstyle a.ybaa { 
    color: inherit;   
    text-decoration: underline; 
}

/* the little "TM" (trademark symbol) after "Powered by Y! Pipes" in the footer */
div.pipesstyle sup.ybas { 
    font-size: 100%;
    color: inherit; 
}

/* controls "Get This" in the footer (will only display if your pipe is published) */
div.pipesstyle a.gt { 
    position: absolute; 
    height: 16px;       
    display: inline;  
    color: inherit;   
    font-size: 9px;   
    font-weight: bold;    
    line-height: 22px;  
    right: 12px;  
    cursor: pointer; 
    text-decoration: underline; 
}

/* Controls the ">>" after "Get This" in the footer (will only display if your pipe is published) */
div.pipesstyle div.gts { 
    position: absolute; 
    height: 16px;   
    display: inline;  
    color: inherit;   
    font-size: 12px;  
    font-weight: bold; 
    line-height: 20px;  
    right: 2px;   
    cursor: none;   
    text-decoration: none; 
}